header {
    background-color: red;
    height: 10vh;
    text-align: center;
}
main {
    background-color: orange;
    display: inline-block;
    width: 70vw;
    margin: 2em;
    border-right: solid 1px black;
}
article {
    background-color: whitesmoke;
    padding: 1em;
}
aside {
    display: inline-block;
    vertical-align: top;
    width: 20vw;
    background-color: green;
    padding: 1em;
    margin-top: 2em;
}
nav {
    background-color: lightsalmon;
    padding: 1em;
    
}
footer {
    background-color: grey;
    height: 10vh;
    text-align: center;
}